@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  color: #FFFFFF;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

#nav-toggle-button{
  visibility: hidden;
}

#nav-toggle-button a {
  font-size: 1.5em;
}

#navbar{
    display: inline-flex;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
}

#name a{
  width: 25%;
  font-size: 1.2em;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.normal-nav-links{
  width: 60%;
  text-align: right;
  margin-right: 10px;
  font-size: 1.2em;
  margin-left: auto;
  transition: 0.5s;
  display: initial;
}

.nav-link{
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover{
  color: #D84315;
  transition: 0.5s;
}

#main {
  text-align: center;
  color: #FFF3E0;
  font-size: 2em;
  width: 60%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  height: 55vh;
}

#contact{
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 55vh;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-links{
  font-size: 4em;
  width: 15%;
  min-width: 100px;
}

.contact-links a{
  color: inherit;
}

#contact-header{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 0px;
  padding-top: 40px;
}

#contact-header h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 800px) {
  #navbar{
    display: flex;
    flex-direction: column;
    position: initial;
  }

  #mobile-header {
    display: inline-flex;
  }

  .dropdown-nav-links {
    display: flex !important;
  }

  .normal-nav-links {
    text-align: center;
    flex-direction: column;
    margin: auto;
  }

  #name {
    width: 70%;
    text-align: left;
    padding-left: 10px;
  }

  #nav-toggle-button {
    visibility: visible;
    margin-left: auto;
    padding-right: 10px;
  }


  #nav-toggle-button a {
    text-decoration: none;
    color: inherit;
  }

  .normal-nav-links{
    display: none;
  }

  #name {
    text-align: left;
  }
  .nav-link{
    padding: 10px 0px;
  }

  #main {
    padding-top: 50px;
  }
}